<%- include('parcials/header') -%>

<div class="heading text-center">
    <h1>About Us</h1>
</div>

<div class="container text-center mt-5">
    <p>Bibendum neque egestas congue quisque egestas diam in. Non enim praesent elementum facilisis leo. Erat pellentesque adipiscing commodo elit at imperdiet dui accumsan sit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. At lectus urna duis convallis convallis tellus id. Mi proin sed libero enim sed faucibus turpis in. Ultrices dui sapien eget mi proin sed libero enim sed. Justo eget magna fermentum iaculis eu non diam. Libero enim sed faucibus turpis in eu mi bibendum. Egestas diam in arcu cursus euismod quis viverra. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Pharetra et ultrices neque ornare aenean euismod elementum nisi quis. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Sit amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus.</p>
</div>

<%- include('parcials/footer') -%>