<%- include('parcials/header') -%>

<div class="heading text-center">
    <h1>Contact Us</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 contact__box1 mt-5">
            <form>
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name">
                  <label for="phone" class="form-label mt-3">Phone</label>
                  <input type="text" class="form-control" id="phone">
                  <label for="exampleInputEmail1" class="form-label mt-3">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  
                  <label for="message" class="form-label mt-3">Message</label>
                  <textarea name="" id="message" class="form-control" cols="30" rows="7"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" style="background-color: #5a189a;">Send</button>
              </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 contact__box2 mt-5">
            <h5>Our Address</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nam aliquam sem et tortor consequat id porta nibh venenatis. Donec ac odio tempor orci dapibus. Justo laoreet sit amet cursus sit. Phasellus egestas tellus rutrum tellus</p>
        </div>
    </div>
</div>

<%- include('parcials/footer') -%>