<%- include('parcials/header') -%>

<div class="heading text-center">
    <h1>Gallery</h1>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card mt-5 h-100">
            <img src="https://t4.ftcdn.net/jpg/03/87/15/91/240_F_387159171_VtrwknUfp0Nk26XBVhC4unUzjACfJHNf.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mt-5 h-100">
            <img src="https://t3.ftcdn.net/jpg/02/51/25/40/240_F_251254078_sXHagPrY5aTHurW5dlAeqG3TVpRA3TMm.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mt-5 h-100">
            <img src="https://t3.ftcdn.net/jpg/03/93/43/44/240_F_393434405_28PRA62Yvt1NOpAN7Qz4XN4OCP8i2HCv.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card mt-5 h-100">
              <img src="https://t4.ftcdn.net/jpg/02/51/38/09/240_F_251380999_xCsam4S22xt4WscGjwFmFEh9T4NqFHE3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mt-5 h-100">
              <img src="https://t4.ftcdn.net/jpg/02/33/27/47/240_F_233274707_djLm8Ubt9MHvxM4EKpxbUKhgT2OpnhfG.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mt-5 h-100">
              <img src="https://t4.ftcdn.net/jpg/02/51/38/09/240_F_251380999_xCsam4S22xt4WscGjwFmFEh9T4NqFHE3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mt-5 h-100">
              <img src="https://t3.ftcdn.net/jpg/03/87/51/84/240_F_387518472_jADm3uYvgUpank8dZ4NFaLZJfVW4vPrV.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mt-5 h-100">
              <img src="https://t3.ftcdn.net/jpg/03/93/43/44/240_F_393434405_28PRA62Yvt1NOpAN7Qz4XN4OCP8i2HCv.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
      </div>

    
</div>

<%- include('parcials/footer') -%>